<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practica Alumnos</title>
  </head>
  <body>
    <%- include('../header.ejs') %> <%- include('../nav.ejs') %>

    <section class="container my-6 mx-auto">
        <form class="" action="/alumnos" method="post">
            <div class="">

                <div class="w-full d-flex justify-content-between gap-2 mt-4">
                    <input class="col-5" type="number" id="matricula"    name="matricula"    placeholder="Ingrese la matricula"    required>
                    
                    <input class="col-7" type="text"   id="nombre"       name="nombre"       placeholder="Ingrese el nombre"       required>

                </div>
                <div class="w-full d-flex justify-content-between gap-2 mt-4">
                    <input class="col-5" type="text"   id="domicilio"    name="domicilio"    placeholder="Ingrese el domicilio"    required>
                    
                    <select class="col-2" type="text"   id="sexo"         name="sexo"         placeholder="Ingrese el sexo"         required>
                        <option value="H">H</option>
                        <option value="H">M</option>
                    </select>
    
                    <input  class="col-5" type="text"   id="especialidad" name="especialidad" placeholder="Ingrese la especialidad" required>
                </div>
    
                <div class="d-flex justify-content-center  my-4">
                    <button class="col-2 mx-auto btn btn-primary" type="submit">Enviar informacion</button>
    
                </div>

            </div>
        </form>
        <div>
            <table class="table table-hover">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Domicilio</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Especialidad</th>
                </tr>
                
                <% 
                for(var i = 0; i < regs.length; i++){
                %>
                    <tr>
                        <td scope="col"><%=regs[i].idAlumnos%></td>
                        <td scope="col"><%=regs[i].matricula%></td>
                        <td scope="col"><%=regs[i].nombre%></td>
                        <td scope="col"><%=regs[i].domicilio%></td>
                        <td scope="col"><%=regs[i].sexo%></td>
                        <td scope="col"><%=regs[i].especialidad%></td>
                    </tr>   
                <%  
                } 
                %>    
            </table>

        </div>
    </section>

    <%- include('../footer.ejs') %>
  </body>
</html>
